<nav class="navbar navbar-light bg-light fixed-top" style="height: 60px;">
    <div class="container-fluid">
        <img src="https://sistemashomologacao.suafaculdade.com.br/cdn/siteobjetivo/v1/assets/img/objetivo.svg"
            style="height: 50px;" />
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" style="box-shadow:none;">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Elementos</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#introducao">Introdução</a>
                    <a class="list-group-item list-group-item-action" href="#tipografia">Tipografia</a>
                    <a class="list-group-item list-group-item-action" href="#logos">Logos</a>
                    <a class="list-group-item list-group-item-action" href="#paleta-cores">Cores</a>
                    <a class="list-group-item list-group-item-action" href="#icones">Icones</a>
                    <a class="list-group-item list-group-item-action" href="#svgs">SVG</a>
                    <a class="list-group-item list-group-item-action" href="#botoes">Botões</a>
                    <a class="list-group-item list-group-item-action" href="#breadcrumb">Breadcrumb</a>
                    <a class="list-group-item list-group-item-action" href="#depoimentos">Depoimentos</a>
                    <a class="list-group-item list-group-item-action" href="#accordion">Accordion</a>
                    <a class="list-group-item list-group-item-action" href="#navbar">Navbar</a>
                    <a class="list-group-item list-group-item-action" href="#cards">Cards</a>
                    <a class="list-group-item list-group-item-action" href="#listas">Listas</a>
                    <a class="list-group-item list-group-item-action" href="#formularios">Formulários</a>
                    <a class="list-group-item list-group-item-action" href="#footer">Footer</a>
                </div>
            </div>
        </div>

    </div>
</nav>